<div class="board">
    <%= image_tag "Board.png", crop: :fill %>
</div>

<div class="redirection-links d-flex justify-content-evenly mt-5 fixed-bottom">
  <a href="/products/new" class="btn btn-scan" role="button" aria-pressed="true"><i class="fa-solid fa-barcode"></i> Scan</a>
  <a href="/search" class="btn btn-search" role="button" aria-pressed="true"><i class="fa-solid fa-magnifying-glass"></i> Recherche</a>
</div>
