<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));" >
    <h1>Lacty</h1>
    <h3>Même les licornes sont intolérantes au lactose!</h3>
</div>

<p>Découvrez la présence de lactose dans vos aliments en quelques clics</p>

<div class="container">
  <a href="/scanner" class="btn btn-scan" role="button" aria-pressed="true"><i class="fa-solid fa-barcode"></i> Scan</a>
  <a href="#" class="btn btn-search" role="button" aria-pressed="true"><i class="fa-solid fa-magnifying-glass"></i> Recherche</a>
</div>
