<div class="mb-5">
  <h1 class="d-flex text-center text-white">Informations complémentaires sur certains produits</h1>
  <p class="d-flex text-center">La sensibilité au lactose est propre à chacun, il convient donc, en cas d'intolérance, d'adapter la consommation de produits laitiers selon le seuil de tolérance de chacun.</p>
  <div class="info" >
    <h2 id="fromages" class="text-warning">Fromages</h2>

    <p><em>Les fromages à privilégier (lactose : traces à 1 g pour 100 g de produit) :</em></p>
    <p>De manière générale, plus un fromage vieilli, plus le contenu en lactose diminue. En effet, ce dernier est transformé en acide lactique par les bactéries présentes dans le fromage. En cas d'intolérance faible ou modérée au lactose, le mieux est de choisir des fromages affinés. En effet : plus les fromages sont vieux, plus ils ont de chances d'être bien supportés. Attention toutefois en cas d'intolérance sévère.
    On retrouve dans ces fromages: le <strong>Cheddar</strong>, le <strong>Parmesan</strong>, le <strong>Gruyère</strong>, l’<strong>Edam</strong>, l’<strong>Emmental</strong>, le <strong>Gouda</strong>, la <strong>Mimolette</strong>, le <strong>Comté</strong>, le <strong>Cantal</strong>, la <strong>Tomme</strong>, le <strong>Reblochon</strong>, le <strong>Beaufort</strong>, la <strong>Raclette</strong>, le <strong>Saint-Paulin</strong> ou encore le <strong>Saint-Nectaire</strong>. </p>
    <p>Dans les fromages qui contiennent peu de lactose, on retrouve aussi les <em>fromages à pâte mi-dure</em> (0,1 à 1 g de lactose seulement pour 100 g de produit) ainsi que les fromages de brebis et de chèvre (bûche, brique, fromage frais, crottin) qui sont généralement bien tolérés, de même que le fromage blanc de brebis. Attention tout de même en cas d'intolérance sévère ! </p>
    <p> A noter qu'il existe maintenant plusieurs références de fromages garantis “sans lactose”. Il s’agit de gammes spécifiquement développées pour les personnes allergiques au lactose et celles dont l'intolérance au lactose est importante.</p>
    <p><em>Les fromages qui contiennent peu de lactose (1 à 2 g de lactose pour 100 g)</em> sont les fromages "mous" (la consommation doit être adaptée selon la tolérance digestive) : le <strong>Camembert</strong>, le <strong>Coulommiers</strong>, le <strong>Chaource</strong>, le <strong>Brie</strong>, la <strong>Mozzarella</strong>, la <strong>Ricotta</strong>, le <strong>Roquefort</strong>, le <strong>Gorgonzola</strong>.</p>
    <p><em>Les fromages à éviter</em></p>
    <p>Certains fromages sont très riches en lactose. Ce sont principalement les fromages frais à tartiner et le fromage blanc de vache : le <strong>cottage cheese</strong>, le <strong>Saint Môret®</strong>, le <strong>Philadelphia®</strong>, le <strong>Kiri®</strong>, le <strong>Caprice des Dieux®</strong>, le <strong>Boursin®</strong>, le <strong>Tartare®</strong>, le <strong>Carré frais®</strong>, le <strong>fromage blanc de vache</strong>.</p>
    <a href="/board"><em>Teneur en lactose des produits laitiers</em></a>
  </div>

  <div class="info">
    <h2 id="chocolat" class="text-warning">Chocolat</h2>

    <p>Le vrai chocolat est le <strong>chocolat noir</strong>. Il est fabriqué avec du cacao et du sucre. il contient très rarement du lait (ou alors sous forme de trace) et ne pose donc pas de problème de digestion à la plupart des personnes intolérantes au lactose.</p>
    <p>Les chocolats qui ne conviennent pas aux intolérants au lactose sont le <strong>chocolat au lait</strong> (contient du lait en poudre ou du lait concentré) et le <strong>chocolat blanc</strong>.</p>

  </div>

  <div class="info">
    <h2 id="charcuterie" class="text-warning">Charcuterie</h2>

    <p>Il peut paraître surprenant que la charcuterie contienne du lait, pourtant c'est une pratique courante. Le lait est utilisé sous différentes formes ( lait, crème, lactose, protéines de lait…) en tant qu’agent de texture ou agent de conservation. Le lactose est facile à utiliser dans ces cas, peu sucré est peu onéreux.</p>
    <p><em>Les charcuteries sans lactose</em>: les <strong>jambons secs</strong> et la plupart des <strong>jambons blancs</strong>, les <strong>lardons</strong> des grandes marques, le <strong>foie gras entier</strong> ainsi que toute la <strong>charcuterie casher</strong>.</p>
    <p><em>Les charcuteries avec lactose</em>: toutes les <strong>saucisses</strong> (Knacki, Strasbourg, Francfort, Toulouse, Morteau, chipolatas, merguez, fricadelle…), le <strong>boudin blanc</strong> et le <strong>boudin noir</strong>, les <strong>lardons</strong> de marques distributeurs, les <strong>saucissons</strong> et <strong>chorizos</strong>, la <strong>mortadelle</strong>, le <strong>salami</strong>, les <strong>pâtés</strong>, <strong>pâtés en croûte</strong>, <strong>mousses</strong> et <strong>terrines</strong>, et certaines <strong>rillettes</strong>.</p>
    <a href="/board"><em>Teneur en lactose des produits laitiers</em></a>
  </div>

  <div class="info">
    <h2 id="beurre" class="text-warning">Beurre</h2>

    <p>Le beurre ne contient que des traces de lactose ; la plupart des intolérants peuvent donc en consommer sans être gênés (viennoiseries, gâteaux à base de beurre ou gâteaux pur beurre, etc. à condition que la recette n'ajoute pas un autre produit laitier dedans). Attention néanmoins aux plats qui en contiennent beaucoup, comme par exemple la sauce des escargots cuisinés.</p>
    <a href="/board"><em>Teneur en lactose des produits laitiers</em></a>
  </div>

  <div class="info">
    <h2 id="ferments" class="text-warning">Ferments lactiques</h2>
    <p>La transformation du lait en produits laitiers se fait notamment grâce à des bactéries vivantes: les ferments lactiques. Ces bactéries se nourrissent du sucre du lait, le lactose, et le transforment en acide lactique facilitant sa digestion. Ces bactéries lactiques sont donc bénéfiques pour la santé. C’est d’ailleurs grâce à elles et au procédé de fermentation que les personnes qui digèrent mal le lactose du lait liquide peuvent manger des yaourts, des fromages ou du beurre. Attention néanmoins, tous les yaourts et les fromages ne possèdent pas de ferments lactiques (il est conseillé de vérifier la composition du produit).</p>
  </div>
</div>

<div class="redirection-links d-flex justify-content-evenly mt-5 fixed-bottom">
  <a href="/products/new" class="btn btn-scan" role="button" aria-pressed="true"><i class="fa-solid fa-barcode"></i> Scan</a>
  <a href="/search" class="btn btn-search" role="button" aria-pressed="true"><i class="fa-solid fa-magnifying-glass"></i> Recherche</a>
</div>
