<%# coucou ce la page des presentation %>
<div class="presentation-equipe">


  <div class="card-profily title-page">

    <h2>Equipe-lacty</h2>
  </div>


  <div class="description card-profily">
    <h2>Descriptions</h2>

    <div class="text-description">
      <p>
        Lacty est une application de recherche pour aider les intolérants au lactose,
        à comprendre les compositions des produits et savoir si les produits sont adaptés ou non à leur intolérance.
        Lacty propose ainsi les fonctionnalités : scanner de code-bar, barre de recherche et commentaires des autres utilisateurs.
      </p>
    </div>
  </div>


  <div class="lacty-profily card-profily">
    <div class="photo-profily">

    <%= image_tag "96188300.jpg", alt: "photo-profily", width: 200 %>
      <p>Barbara Calas</p>
       <h5>développeuse web full-stack</h5>
    </div>


    <div class="photo-profily ">

    <%= image_tag "o7ieppsagxzwib7pm7xc.jpg", alt: "photo-profily", width: 200 %>
     <p>Alexandra Mercado</p>
      <h5> développeuse web full-stack </h5>
    </div>

    <div class="photo-profily">

   <%= image_tag "269786167_4166425296792093_7696153519535978676_n.jpg", alt: "photo-profily", width: 200 %>

      <p>Madou Tounkara</p>
       <h5>développeur web full-stack</h5>
    </div>

  </div>


  <div class="bureaux card-profily">

    <div class="carte">
    <%= image_tag "43.701153,7.261451.png", alt: "carte-lacty", width: 200 %>

    </div>



    <div class="adress">

      <h1>Nos Brureaux</h1>

      <h5>21 avenue thier</h5>
      <h5>Nice 0600</h5>
      <h5>Tel: 04 02 47 00 24</h5>

    </div>
  </div>

</div>
