.banner {
  background-size: cover;
  background-position: center;
  padding: 10px 0;
  // border-radius: 50%;
  margin-bottom: 5px;
}

.banner h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 5px;
}

.banner h3 {
  text-align: center;
  font-size: 17px;
  margin: 0;
  color: white;
  opacity: .6;
  padding-bottom: 5px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-weight: bold;
}
