.big-card1 {
  overflow: hidden;
  height: auto;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  p{
    color: black;
    font-size: 16px;
  }
}

.big-card2 {
  overflow: hidden;
  height: auto;
  background: white;
  margin-bottom: 30px;
  padding: 10px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  p{
    color: black;
  }
}

.alt {
  margin-bottom: 100px;
}
