.card-product {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 5px 0px;
  justify-content: start;
}

.card-product img {
  height: 100%;
  width: 140px;
  object-fit: contain;
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
}

.card-product p {
  color: black;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  img{
    width: 60px;
    height: 60px;
  }
}


.card-comment {
  background: rgb(238, 238, 238);
  box-shadow: 0 0 15px rgba(162, 215, 236 ,0.2);
  border-radius: 5px;
  padding: 2px;
  p {
    font-weight: bold;
 }
}
