.navbar-lewagon {
  justify-content: space-between;
  // background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 42px;
  border-radius: 10px;
}

.navbar-lewagon .avatar {
  width: 50px;
  border: 2px solid rgb(255, 136, 0);
  border-radius: 50px;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}
