<div class="card-product">
  <%= image_tag product.image %>
  <div class="card-body">
    <h5 class="card-title fw-bold"><%= link_to product.name, product_path(product), class: "text-decoration-none" %></h5>
  </div>
</div>
