<div class="card-index">
  <h1>INDEX PRODUCTS</h1>
</div>



<div class="redirection-links d-flex justify-content-evenly mt-4">
  <a href="/products/new" class="btn btn-scan" role="button" aria-pressed="true"><i class="fa-solid fa-barcode"></i> Scan</a>
  <a href="/search" class="btn btn-search" role="button" aria-pressed="true"><i class="fa-solid fa-magnifying-glass"></i> Recherche</a>
</div>
