  <div>
    <script src="https://unpkg.com/scandit-sdk@5.x"></script>
    <div id="scandit-barcode-picker" style ="width:400px; heigth:400px;"></div>
  </div>



  <%= simple_form_for @product, method: :post  do |f| %>
  <%= f.input :name %>
  <%= f.input :composition %>
  <% end %>

    <%# html:{class:"d-none"} , %>
