<div class="hello">
<div class="card-product">
  <img src="" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

<div class="description-vert">
  <h2>Tout est bon dans le <%= @product %>!</h2>
</div>

<div class="tabs">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">Composition</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Commentaires</a>
    </li>
  </ul>
</div>

<div class="big-card">
  <p>Voici la session composition</p>
</div>
</div>


<%# <script type="text/javascript">
  console.log(infos)
</script> %>
